<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TalentRecruit">
  <listeners>
    <listener class-name="com.TalentRecruit.utilities.Reporting"/>
  </listeners>
<test name="TalentRecruit Application Testing">
 <parameter name="browser" value="edge" />
 <parameter name="browsersize" value="large" />
 <classes>
 <!--<class name="com.TalentRecruit.testCases.TC_LoginTest" /> -->
 <class name="com.TalentRecruit.testCases.TC_LoginTest_Multiple_DataSet" /> 
 </classes>
</test>
</suite>
